.container {
    .top-banner {
        .flex;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 4%;
        margin-bottom: 3.5%;
       
        nav {
            .flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 49%;
            align-items: center;
            
            a {
                text-decoration: none;
                padding: 1.2%;
                border: 1px solid lightslategray;
                border-radius: 10%;
            }
    
        }

    }
    
}